<section class="program-section">
  <div class="program-section-container container">
    <h2 id="training-program" class="title dark-theme">Наша программа</h2>
    <div class="program-list-wrapper">
      <ul class="program-list list">
      <li class="program-list-item">
        <h3 class="semester-title">1 семестр</h3>
        <ul class="semester-list list">
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Grammar</h4>
            <ul class="semester-item-list list">
              <li lang="en">Nouns & Articles</li>
              <li lang="en">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Vocabulary</h4>
            <ul class="semester-item-list list">
              <li lang="en">Family & Relations</li>
              <li lang="en">People & Society</li>
            </ul>
          </li>
        </ul> 
      </li>
      <li class="program-list-item">
        <h3 class="semester-title">2 семестр</h3>
        <ul class="semester-list list">
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Grammar </h4>
             <ul class="semester-item-list list">
               <li lang="en">Pronouns</li>
               <li lang="en">Active Voice</li>
               <li lang="en">Passive Voice</li>
             </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Vocabulary</h4>
            <ul class="semester-item-list list">
              <li lang="en">Home</li>
              <li lang="en">School</li>
              <li lang="en">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <h3 class="semester-title">3 семестр</h3>
        <ul class="semester-list list">
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Grammar</h4>
            <ul class="semester-item-list list">
              <li lang="en">Modal verbs</li>
              <li lang="en">Infinitive</li>
              <li lang="en">Gerund</li>
              <li lang="en">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Vocabulary</h4>
            <ul class="semester-item-list list">
              <li lang="en">Travel & Tourism</li>
              <li lang="en">Culture & Free Time</li>
              <li lang="en">Sport</li>
            </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Writing</h4>
            <ul class="semester-item-list list">
              <li lang="en">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <h3 class="semester-title">4 семестр</h3>
        <ul class="semester-list list">
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Grammar</h4>
            <ul class="semester-item-list list">
              <li lang="en">Clauses: Conditional and Wishes</li>
              <li lang="en">Direct / Reported speech</li>
              <li lang="en">Preposition</li>
              <li lang="en">Conjunction</li>
              <li lang="en">Numeral</li>
            </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Vocabulary</h4>
            <ul class="semester-item-list list">
              <li lang="en">Healthy Living</li>
              <li lang="en">Nature & Environment</li>
              <li lang="en">Money</li>
            </ul>
          </li>
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">— Writing</h4>
            <ul class="semester-item-list list">
              <li lang="en">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <h3 class="semester-title">5 семестр</h3>
        <ul class="semester-list list">
          <li class="semester-list-item">
            <h4 class="semester-item-title" lang="en">—</h4>
            <ul class="semester-item-list list">
              <li lang="en">Revision</li>
              <li lang="en">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
  <div class="features-container container">
    <h2 class="title dark-theme">Почему нас выбирают</h2>
    <div class="features-list-wrapper">
      <ol class="features-list list">
        <li class="features-list-item">Обучение в малых командах</li>
        <li class="features-list-item">Визуализированные конспекты</li>
        <li class="features-list-item">Каждое занятие имеет цель и конкретный результат</li>
        <li class="features-list-item">Реальные результаты преподавателя</li>
        <li class="features-list-item">Программа курса соответствует требованиям МОН Украины</li>
        <li class="features-list-item">Набор команд по уровням знаний</li>
      </ol>
    </div>
  </div>
</section>