.promises-section {
  padding-top: 54px;

  &-title {
    @include font(800, 26px, 34px, 0.03em);
    text-align: center;
    color: $light-theme-header-color;
    margin-bottom: 23px;
  }

  &-list-item {
    width: 245px;
    min-height: 75px;
    @include font(500, 12px, 20px, normal);
    
    color: $dark-text-color;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 23px;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 15px;
      height: 20px;
      top: 0;
      left: -29px;
      background-image: url('../images/header/logo-fire.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 25px;
      left: -21px;
      content: '';
      height: 68px;
      border-left: 1px dashed #b9b9b9;
    }
  }

  @media screen and (max-width: 727px) {
    background-image: linear-gradient(
      to bottom,
      $bg-color 20%,
      #f1f1f1 20%,
      #f1f1f1 80%
    );

    &-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 37px;
      padding-bottom: 24px;
    }
  }

  @media screen and (min-width: 728px) {
    padding-top: 50px;

    &-title {
      margin-bottom: 30px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-right: 50px;
      padding-bottom: 30px;
      padding-left: 79px;
      background-color: #f1f1f1;
    }

    &-list-item {
      width: 520px;
      min-height: 38px;

      &::before {
        top: 0;
        left: -40px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:not(:last-child)::after {
        position: absolute;
        top: 22px;
        left: -32px;
        content: '';
        height: 30px;
        border-left: 1px dashed #b9b9b9;
      }
    }
  }

  @media screen and (min-width: 1354px) {
    padding-top: 130px;
    &-title {
      margin-bottom: 47px;
      font-size: 46px;
      line-height: 1.304;
    }

    &-wrapper {
      padding-top: 50px;
      padding-right: 112px;
      padding-bottom: 45px;
      padding-left: 112px;
      background-color: #f1f1f1;
    }

    &-list-item {
      width: 1038px;
      min-height: 60px;
      font-size: 20px;
      line-height: 1.4;

      &::before {
        width: 22px;
        height: 30px;
        top: 0;
        left: -50px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:not(:last-child)::after {
        position: absolute;
        top: 35px;
        left: -39px;
        content: '';
        height: 40px;
        border-left: 1px dashed #b9b9b9;
      }
    }
  }
}
